
@{
    ViewData["Title"] = "Contact";
}

<h1 class="display-3">Let me know your suggestions and thoughts!</h1>
<p class="lead">P.S. I'm open to collaborations. I'd be glad to contribute to your projects!</p>
<form>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
    <div class="form-group">
        <label for="name" class="mr-sm-2">Name:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter name" id="name">
    </div>
    <div class="form-group">
        <label for="email" class="mr-sm-2">Email address:</label>
        <input type="email" class="form-control mb-2 mr-sm-2" placeholder="Enter email" id="email">
        </div>

        <button type="submit" class="btn btn-succes mb-2">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>

</form>