
@{
    ViewData["Title"] = "Projects";
}

<div class="row text-center">
    <div class="col">
        <p class="display-2">Currently building my portfolio!</p>
        <p class="display-4">Here are some of my latest projects.</p>
    </div>

    <div class="col align-items-start">

        <div class="card-deck">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/logo-GFE.jpg" alt="Geografy for Everyone Project Logo">
                <div class="card-body">
                    <h5 class="card-title">Geography for Everyone!</h5>
                    <p class="card-text">Bootstrap powered website for geography lovers of all ages! Feed your curiosity here.</p>
                    <a href="https://github.com/LexiconProjects/responsive-website-Bootstrap" class="btn" style="background-color: #32C98C;"><img src="~/img/GitHubIcon.png" style="width:15px;height:15px" alt="Github Icon" />  Repository</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/logo-JFGames.jpg" alt="JS Games Project Logo">
                <div class="card-body">
                    <h5 class="card-title">JS Games</h5>
                    <p class="card-text">Want to know how many days are left until Christmas? Check it out and other JavaScript mini-games here.</p>
                    <a href="https://github.com/LexiconProjects/js-games" class="btn" style="background-color: #32C98C;"><img src="~/img/GitHubIcon.png" style="width:15px;height:15px" alt="Github Icon" />  Repository</a>
                </div>
            </div>

            </div>
        <br />
        <div class="card-deck">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/logo-VendingMachine.jpg" alt="Vending Machine Project Logo">
                <div class="card-body">
                    <h5 class="card-title">Vending Machine</h5>
                    <p class="card-text">Coding makes you hungry? Take a break and have a nice snack from this console-based virtual machine. </p>
                    <a href="https://github.com/LexiconProjects/vending-machine" class="btn" style="background-color: #32C98C;"><img src="~/img/GitHubIcon.png" style="width:15px;height:15px" alt="Github Icon" />  Repository</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/logo-Golf.jpg" alt="Golf Project Logo">
                <div class="card-body">
                    <h5 class="card-title">Golf</h5>
                    <p class="card-text">Want to practice your golf swings? Try out this console-based game that simulates a golf course!</p>
                    <a href="https://github.com/LexiconProjects/golf" class="btn" style="background-color: #32C98C;"><img src="~/img/GitHubIcon.png" style="width:15px;height:15px" alt="Github Icon" />  Repository</a>
                </div>

            </div>


        </div>


    </div>

</div>

